# VSCode project settings
.vscode/

# VS
.vs

# idea
.idea

# clangd cache
.cache/

# CMake build directory
build/

# Test
test/

# Log files
logs/

# Binary files
*.bin
*.exe
*.dll
*.so
*.a
*.o

# Backup files
*~
*.swp
*.swo

# MacOS system files
.DS_Store

# Audio files
*.wav
*.pcm
*.opus
*.ogg

g_client_id
