# VSCode project settings
.vscode/

# clangd cache
.cache/

# CMake build directory
build/

# Test
test/

# Log files
logs/

# Binary files
*.bin
*.exe
*.dll
*.so
*.a
*.o

# Backup files
*~
*.swp
*.swo

# MacOS system files
.DS_Store

# Audio files
*.wav


/jrtp

/assert

g_client_id